@keyframes slide-in-from-left {
	from {
		transform: translateX(-100%);
	}

	to {
		transform: translateX(0);
	}
}

@keyframes slide-in-from-right {
	from {
		transform: translateX(100%);
	}

	to {
		transform: translateX(0);
	}
}

:root {
	--team-name-padding: calc(var(--border-width) * 1.5);
	--team-name-background-cutout-width: 0; /* dynamically set by App.js */
}

.topbar {
	display: grid;
	grid-column-end: span 2;
	grid-template-columns: 1fr auto 1fr;
	background-color: var(--orange-color);
	border-top: var(--border-width) solid var(--orange-color);
	border-bottom: var(--border-width) solid var(--orange-color);
	color: var(--white-color);
	font-size: clamp(14px, 2vw, 42px);
}

.red-team-name-wrapper {
	background-color: var(--red-color);
	clip-path: polygon(0 0, 100% 0, calc(100% - var(--team-name-background-cutout-width)) 100%, 0 100%);
	padding-top: var(--team-name-padding);
	padding-bottom: var(--team-name-padding);
	padding-left: var(--team-name-padding);
	padding-right: calc(var(--team-name-padding) + var(--team-name-background-cutout-width));
	overflow: hidden;
	animation: slide-in-from-left 1s;
}

.blue-team-name-wrapper {
	background-color: var(--blue-color);
	clip-path: polygon(var(--team-name-background-cutout-width) 0, 100% 0, 100% 100%, 0 100%);
	padding-top: var(--team-name-padding);
	padding-bottom: var(--team-name-padding);
	padding-left: calc(var(--team-name-padding) + var(--team-name-background-cutout-width));
	padding-right: var(--team-name-padding);
	overflow: hidden;
	animation: slide-in-from-right 1s;
}

.countdown-timer-wrapper {
	font-size: clamp(18px, 2.5vw, 54px);
	padding: 0 20px;
}

.red-team-name,
.blue-team-name,
.countdown-timer {
	padding-top: 0.15em;
}

.red-team-name,
.blue-team-name {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@media only screen and (max-width: 800px) {
	.countdown-timer-wrapper {
		padding: 0 10px;
	}
}

@media only screen and (max-width: 600px) {
	.countdown-timer-wrapper {
		padding: 0;
	}
}
