@keyframes slide {
	from {
		transform: translateX(var(--offset-start));
	}

	to {
		transform: translateX(var(--offset-end));
	}
}

:root {
	--team-name-padding: calc(var(--border-width) * 1.5);

	/* dynamically set by Topbar.jsx */
	--red-team-name-width: 0px;
	--blue-team-name-width: 0px;
	--team-name-background-width: 0px;
	--team-name-background-cutout-width: 0px;
}

.topbar {
	display: grid;
	grid-column-end: span 2;
	grid-template-columns: 1fr auto 1fr;
	background-color: var(--orange-color);
	border-top: var(--border-width) solid var(--orange-color);
	border-bottom: var(--border-width) solid var(--orange-color);
	color: var(--white-color);
	font-size: clamp(14px, 2vw, 42px);
}

.red-team-name-wrapper,
.blue-team-name-wrapper {
	padding: var(--team-name-padding);
	overflow: hidden;
	animation: slide 1s;
}

.red-team-name-wrapper {
	background-color: var(--red-color);
	clip-path: polygon(0 0, 100% 0, calc(100% - var(--team-name-background-cutout-width)) 100%, 0 100%);
	padding-right: calc(var(--team-name-padding) + var(--team-name-background-cutout-width));
	--offset-start: -100%;
	--offset-end: 0;
}

.blue-team-name-wrapper {
	background-color: var(--blue-color);
	clip-path: polygon(var(--team-name-background-cutout-width) 0, 100% 0, 100% 100%, 0 100%);
	padding-left: calc(var(--team-name-padding) + var(--team-name-background-cutout-width));
	--offset-start: 100%;
	--offset-end: 0;
}

.countdown-timer-wrapper {
	font-size: clamp(18px, 2.5vw, 54px);
	padding: 0 20px;
}

.red-team-name,
.blue-team-name,
.countdown-timer {
	padding-top: 0.15em;
}

.red-team-name,
.blue-team-name {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.marquee {
	overflow: visible;
	text-overflow: clip;
	animation: slide 10s linear infinite;
}

.marquee.red-team-name {
	--offset-start: calc(
		0.5 *
			(var(--red-team-name-width) + var(--team-name-background-width) + var(--team-name-background-cutout-width)) -
			var(--team-name-padding)
	);
	--offset-end: calc(
		-0.5 * (var(--red-team-name-width) + var(--team-name-background-width) -
					var(--team-name-background-cutout-width))
	);
}

.marquee.blue-team-name {
	--offset-start: calc(
		0.5 *
			(var(--blue-team-name-width) + var(--team-name-background-width) - var(--team-name-background-cutout-width))
	);
	--offset-end: calc(
		-0.5 * (
				var(--blue-team-name-width) + var(--team-name-background-width) +
					var(--team-name-background-cutout-width)
			) + var(--team-name-padding)
	);
}

@media only screen and (max-width: 800px) {
	.countdown-timer-wrapper {
		padding: 0 10px;
	}
}

@media only screen and (max-width: 600px) {
	.countdown-timer-wrapper {
		padding: 0;
	}
}
