@keyframes slide {
	from {
		transform: translateX(var(--offset-start));
	}

	to {
		transform: translateX(var(--offset-end));
	}
}

:root {
	--team-name-padding: calc(var(--border-width) * 1.5);

	/* dynamically set by Topbar.jsx */
	--red-team-name-width: 0px;
	--blue-team-name-width: 0px;
	--team-name-background-width: 0px;
	--team-name-background-cutout-width: 0px;
}

.topbar {
	display: grid;
	grid-column-end: span 2;
	grid-template-columns: 1fr auto 1fr;
	background-color: var(--color-orange);
	border-top: var(--border-width) solid var(--color-orange);
	border-bottom: var(--border-width) solid var(--color-orange);
	color: var(--color-white);
	font-size: clamp(14px, 2vw, 42px);
}

.team-name__wrapper {
	padding: var(--team-name-padding);
	overflow: hidden;
	animation: slide 1s;
}

.team-name__wrapper--red {
	background-color: var(--color-red);
	clip-path: polygon(0 0, 100% 0, calc(100% - var(--team-name-background-cutout-width)) 100%, 0 100%);
	padding-right: calc(var(--team-name-padding) + var(--team-name-background-cutout-width));
	--offset-start: -100%;
	--offset-end: 0;
}

.team-name__wrapper--blue {
	background-color: var(--color-blue);
	clip-path: polygon(var(--team-name-background-cutout-width) 0, 100% 0, 100% 100%, 0 100%);
	padding-left: calc(var(--team-name-padding) + var(--team-name-background-cutout-width));
	--offset-start: 100%;
	--offset-end: 0;
}

.team-name {
	padding-top: 0.15em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.countdown-timer__wrapper {
	padding: 0 20px;
}

.countdown-timer__container {
	font-size: clamp(24px, 4vw, 72px);
	padding-top: 0.06em;
}

.countdown-timer__background {
	position: absolute;
	opacity: 0.15;
}

.countdown-timer {
	position: relative;
}

.marquee {
	overflow: visible;
	text-overflow: clip;
	animation: slide 10s linear infinite;
}

.marquee.team-name--red {
	--offset-start: calc(
		0.5 *
			(var(--red-team-name-width) + var(--team-name-background-width) + var(--team-name-background-cutout-width)) -
			var(--team-name-padding)
	);
	--offset-end: calc(
		-0.5 * (var(--red-team-name-width) + var(--team-name-background-width) -
					var(--team-name-background-cutout-width))
	);
}

.marquee.team-name--blue {
	--offset-start: calc(
		0.5 *
			(var(--blue-team-name-width) + var(--team-name-background-width) - var(--team-name-background-cutout-width))
	);
	--offset-end: calc(
		-0.5 * (
				var(--blue-team-name-width) + var(--team-name-background-width) +
					var(--team-name-background-cutout-width)
			) + var(--team-name-padding)
	);
}

@media only screen and (max-width: 1000px) {
	.countdown-timer__wrapper {
		padding: 0 10px;
	}
}

@media only screen and (max-width: 500px) {
	.countdown-timer__wrapper {
		padding: 0;
	}
}
