@font-face {
	font-family: "CARDOT Regular";
	src: url(./assets/fonts/CARDOT/CARDOT_Regular.ttf);
}

@font-face {
	font-family: "CARDOT Semibold";
	src: url(./assets/fonts/CARDOT/CARDOT_Semibold.ttf);
}

@font-face {
	font-family: "Digital Dismay";
	src: url(./assets/fonts/Digital_Dismay/Digital_Dismay.otf);
}

:root {
	--color-white: white;
	--color-orange: #f39100;
	--color-red: #ed1c24;
	--color-blue: #0066b3;
	--color-dark-red: #ad0000;
}

body {
	font-family: "CARDOT Regular";
	margin: 0;
}

.bold {
	font-family: "CARDOT Semibold";
}

.seven-segment-display {
	font-family: "Digital Dismay";
}

.children-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.hidden {
	display: none;
}
