@font-face {
	font-family: "CARDOT Regular";
	src: url(./assets/fonts/CARDOT/CARDOT_Regular.ttf);
}

@font-face {
	font-family: "CARDOT Semibold";
	src: url(./assets/fonts/CARDOT/CARDOT_Semibold.ttf);
}

:root {
	--color-red: red;
	--color-blue: blue;
	--color-orange: orange;
	--color-white: white;
}

body {
	font-family: "CARDOT Regular";
	margin: 0;
}

.bold {
	font-family: "CARDOT Semibold";
}

.children-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.hidden {
	display: none;
}
