:root {
	--border-width: clamp(10px, 0.75vw, 0.75vw);
}

.match-stream-page__container {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: auto 1fr;
	grid-template-columns: 1fr 1fr;
}

@media only screen and (orientation: portrait) {
	.match-stream-page__container {
		grid-template-rows: 1fr auto 1fr;
		grid-template-columns: 1fr;
	}

	.match-stream-page__container > :nth-child(1) {
		grid-row-start: 2;
	}

	.match-stream-page__container > :nth-child(2) {
		grid-row-start: 1;
	}

	.match-stream-page__container > :nth-child(3) {
		grid-row-start: 3;
	}
}

@media only screen and (max-width: 800px) {
	:root {
		--border-width: clamp(9px, 0.75vw, 0.75vw);
	}
}

@media only screen and (max-width: 600px) {
	:root {
		--border-width: clamp(8px, 0.75vw, 0.75vw);
	}
}
